<div class="container">
  <h1>Lista de usuarios</h1>
  <hr>

  {{#each user}}
  <h3>{{username}}</h3>
  <a href="details/{{_id}}">Más informacion</a>
  <br>
  <br>
  {{/each}}

  <hr>

  <a href="/" class="btn btn-dark">Volver a inicio</a>
</div>