<div class="container mt-5 mb-5">

  <h1 class="text-center mt-5">Lista de usuarios</h1>

  <hr>
  <div class="row">
    {{#each user}}

    <div class="col-md-3 movie-card mb-3 mt-3" style="width: 20rem;">
      <div class="card">

        <div class="card-body text-center">
          <h2 class="card-title">{{username}}</h5>

            <a href="detalles/{{_id}}" class="btn btn-dark mt-3">Detalles</a>
        </div>
      </div>
    </div>





    <br>
    {{/each}}
  </div>

  <hr class="mb-5 mt-5">

  <a href="/" class="btn btn-dark mt-5 mn-5">Volver a inicio</a>
</div>