<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">

      <h1>Crear evento</h1>
      <hr>

      <form action="/crear-evento" method="POST" enctype="multipart/form-data">

        <div class="mb-3 row">
          <div class="col">
            <label for="eventName" class="form-label">Nombre</label>
            <input type="text" class="form-control" id="eventName" name="eventName">
          </div>

          <div class="col">
            <label for="eventUrl" class="form-label">Enlace</label>
            <input type="text" class="form-control" id="eventUrl" name="eventUrl">
          </div>
        </div>

        <div class="col">
          <label for="category">Genero:</label>
          <select class="form-select" aria-label="Default select example" name="category" id="category">
            <option value="Hip-Hop/Rap">Hip-Hop/Rap</option>
            <option value="Rock">Rock</option>
            <option value="Dance/Electronic">Dance/Electronic</option>
            <option value="Pop">Pop</option>
            <option value="Other">Otro</option>
          </select>
        </div>

        <div class="mb-3">

          <label for="eventImg" class="form-label">Imagen</label>
          <input type="file" class="form-control" id="eventImg" name="eventImg">
        </div>

        <div class="mb-3">
          <label for="date" class="form-label">Fecha</label>
          <input type="date" class="form-control" id="date" name="date">
        </div>

        <div class="col">
          <label for="price" class="form-label">Precio</label>
          <input type="text" class="form-control" id="price" name="price">
        </div>

        <div class="col">
          <label for="city" class="form-label">Ciudad</label>
          <input type="text" class="form-control" id="city" name="city">
        </div>

        <div class="col">
          <label for="description" class="form-label">Descripcion</label>
          <input type="text" class="form-control" id="description" name="description">
        </div>


        <div class="d-grid gap-2 mt-4 mb-5">
          <button type="submit" class="btn btn-dark block">Crear evento</button>
        </div>

        {{#if errorMessage}}
        <div id="errorMessage">
          <p>{{errorMessage}}</p>
        </div>
        {{/if}}

      </form>
    </div>
  </div>

</div>