<div class="container">

  <h1>Lista de nuestros eventos</h1>

  <hr>

  {{#each event}}
  <img src="{{eventImg}}" alt="">
  <h3>{{eventName}}</h3>
  <a href="{{eventUrl}}">Link</a>
  <a href="/event-details/{{_id}}">Detalles</a>


  <br>
  {{/each}}

  <hr>

  <a href="/" class="btn btn-dark">Volver a inicio</a>
</div>