<div class="container">

  <h1>Lista de nuestros eventos</h1>

  <hr>

  {{#each events}}
  <h3>{{eventName}}</h3>
  <img src="{{eventImg}}" alt="imagen del evento">
  <a href="{{eventUrl}}">Link</a>
  <a href="/detalles-evento/{{_id}}">Detalles</a>


  <br>
  {{/each}}

  <hr>

  <a href="/" class="btn btn-dark">Volver a inicio</a>
</div>